@keyframes textFade {
  0%,
  100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.name {
  animation: textFade 5s ease infinite;
  background-image: linear-gradient(to right, #4fd1c5, #805ad5, #f6ad55);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  font-weight: 900;
  margin-right: 30px;
}

.name-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 100px;
}

header {
  height: 100vh;
  overflow: scroll;
}

.header__container {
  padding-top: 20rem;
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 24rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 0 10px var(--color-primary);
}

.me:hover {
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  box-shadow: 0 0 20px var(--color-primary);
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
